
* {
        margin: 0;
        padding: 0;
}

*,
::after,
::before {
        box-sizing: inherit;
}

html {
        box-sizing: border-box;
        font-size: 62.5%; // set 1rem = 10px

        @include respond (bp-large) {
                font-size: 50%;
        }
}

body {
        color: $grey-dark-2;
        background-image: linear-gradient(to right bottom, $primary-light, $primary-dark);
        background-size: cover;
        background-repeat: no-repeat;

        min-height: 100vh;
}