
$main-color: #7857fe;
$color-1: #e91e63;
$color-2: #f5ae10;
$color-3: #09d69c;
$bg-dark: #2b2c2f;
$main-to-dark-color: $main-color;
$dark-to-main-color: $bg-dark;
$shadow-black-100: 0 5px 15px rgba(0,0,0, .1);
$shadow-black-300: 0 5px 15px rgba(0,0,0, .3);
$black-900: #000;
$black-400: #555;
$black-100: #f7f7f7;
$black-000: #fff;
$black-alpha-100: rgba(0,0,0, .05);

$white : #fff;
$black : #000;

