/* FONTS */
/* COLOURS */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, minmax(min-content, 60rem)) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 100vh min-content;
  row-gap: 2rem; }
  .container ::selection {
    color: white;
    background-color: #85bc45; }

/* Logo Text */
.logo-text {
  font-family: "Great Vibes", cursive;
  color: white; }

/* Section Headings */
.heading-1 {
  font-family: "Pacifico", cursive;
  color: black; }
  .heading-1--white {
    color: white; }

/* Sub Headings */
.heading-2 {
  font-family: "Oswald", sans-serif;
  color: black; }
  .heading-2--light {
    font-weight: 300; }
  .heading-2--med {
    font-weight: 400; }
  .heading-2--bold {
    font-weight: 600; }
  .heading-2--white {
    color: white; }

/* Other Text on page */
.body-text {
  font-family: "Roboto", sans-serif;
  color: black; }
  .body-text--light {
    font-weight: 300; }
  .body-text--med {
    font-weight: 500; }
  .body-text--bold {
    font-weight: 700; }
  .body-text--white {
    color: white; }

.u-mb-small {
  margin-bottom: 1.5rem; }

.u-mb-med {
  margin-bottom: 4rem; }

.u-mb-big {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }

.btn {
  height: 4rem;
  width: 20rem;
  border-radius: 20rem;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all .3s; }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1.6rem; } }
  .btn-green {
    background-color: #85bc45;
    color: white; }
  .btn:hover {
    cursor: pointer;
    transform: translateY(-0.2rem);
    background-color: #44bd32;
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.3); }
  .btn:active {
    transform: translateY(0);
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3); }

.btn-text {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600; }
  @media only screen and (max-width: 56.25em) {
    .btn-text {
      font-size: 1.2rem; } }

.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0) 100%), url(../images/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: min-content 1fr minmax(6rem, min-content) 1fr; }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 3rem; } }
  .header__logo {
    font-size: 5rem;
    grid-column: 1 / span 1;
    justify-self: flex-start; }
  .header__heading-main {
    font-size: 10rem;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: flex-end; }
  .header__heading-secondary {
    letter-spacing: .5rem;
    text-transform: uppercase;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center; }
  .header__btn {
    margin: 0.7rem;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: flex-start; }

.header .material-icons {
  display: none;
  font-size: 4rem;
  color: white; }
  @media only screen and (max-width: 37.5em) {
    .header .material-icons {
      display: initial;
      position: absolute;
      cursor: pointer; } }

.header__menu {
  right: 0;
  margin-right: 3rem; }

.header__nav {
  grid-column: 2 / span 1;
  justify-self: flex-end;
  align-self: center; }
  @media only screen and (max-width: 37.5em) {
    .header__nav {
      transition: all .5s ease;
      background-color: #44bd32;
      /* backdrop-filter: blur(1rem); */
      position: fixed;
      right: 0;
      top: 0;
      z-index: 10;
      width: 80%;
      height: 100vh;
      transform: translateX(100%); }
      .header__nav__button-close {
        margin: 3rem;
        right: 0; } }
  .header__nav-items {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .header__nav-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%; }
        .header__nav-items > :not(:last-child) {
          margin-bottom: 6rem; } }
  .header__nav-links {
    margin-left: 4rem;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .header__nav-links {
        margin-left: 0; } }
  .header__nav-link:link, .header__nav-link:visited {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-family: "Roboto", sans-serif;
    transition: all .5; }
    @media only screen and (max-width: 37.5em) {
      .header__nav-link:link, .header__nav-link:visited {
        font-size: 2.4rem;
        font-weight: 400;
        color: white; } }
    .header__nav-link:link:hover, .header__nav-link:link:active, .header__nav-link:visited:hover, .header__nav-link:visited:active {
      color: #85bc45; }

.header .active {
  color: #85bc45; }
  @media only screen and (max-width: 37.5em) {
    .header .active {
      color: white; } }

.show {
  right: 0;
  transform: translateX(0); }

.about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  row-gap: 2rem;
  margin-bottom: 12rem;
  align-items: center;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      margin-bottom: 2rem;
      column-gap: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      grid-template-columns: repeat(1, minmax(min-content, 1fr)); } }
  .about__title {
    font-size: 5rem;
    grid-column: 1 / -1;
    justify-self: center; }
  .about__img {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
    object-fit: contain; }
    @media only screen and (max-width: 56.25em) {
      .about__img {
        display: none; } }
  .about__info {
    padding: 0 5rem; }
    @media only screen and (max-width: 37.5em) {
      .about__info {
        padding: 0 10rem; } }
    .about__info-icon {
      width: 4.5rem;
      height: 4.5rem; }
    .about__info__main-heading {
      font-size: 1.8rem; }
    .about__info__main-text {
      font-size: 1.5rem; }
    .about__info--1, .about__info--3 {
      grid-column: 1 / 2; }
    .about__info--2, .about__info--4 {
      grid-column: 3 / 4; }
      @media only screen and (max-width: 56.25em) {
        .about__info--2, .about__info--4 {
          grid-column: 2 / 3; } }
      @media only screen and (max-width: 37.5em) {
        .about__info--2, .about__info--4 {
          grid-column: 1 / 2; } }

.caption {
  grid-column: full-start / full-end;
  background: url(../images/bg-caption.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 10rem;
  border: 0.5rem solid white;
  outline: 0.5rem solid white;
  outline-offset: -8rem; }
  .caption__main-heading-sub {
    font-size: 4rem;
    text-transform: uppercase;
    color: #44bd32;
    letter-spacing: .4rem; }
  .caption__main-heading {
    font-size: 8rem;
    letter-spacing: .4rem; }
  .caption__secondary-heading {
    font-size: 2rem;
    text-transform: uppercase; }

.products {
  grid-column: center-start / center-end;
  display: grid;
  row-gap: 4rem;
  margin-bottom: 4rem; }
  .products__main-heading {
    font-size: 6rem;
    justify-self: center; }
  .products__nav-items {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .products__nav-items {
        justify-content: space-between; } }
  .products__nav-item {
    list-style: none; }
  .products__nav-link {
    text-decoration: none;
    margin: 0 2rem;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500; }
    @media only screen and (max-width: 37.5em) {
      .products__nav-link {
        margin: 0; } }
  .products__nav .active {
    color: #85bc45; }
  .products__container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }

.product {
  display: grid;
  grid-template-rows: 30rem min-content;
  margin-top: -.2rem;
  border-radius: 5px;
  transition: all .2s;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .product {
      grid-template-rows: 25rem 25rem; } }
  .product__img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .product__details {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 4rem 8rem;
    grid-gap: .5rem;
    transition: all .2s; }
    .product__details-heading {
      grid-column: 1 / -1;
      font-size: 2.5rem;
      text-transform: uppercase; }
    .product__details-price {
      grid-column: 1 / -1;
      font-size: 3rem;
      font-weight: 500;
      color: #85bc45; }
    .product__details-icon {
      width: 3rem;
      height: 3rem;
      fill: rgba(255, 255, 255, 0.5);
      transition: all .2s; }
      .product__details-icon:hover {
        transform: translateY(-0.3rem) scaleY(1.1);
        fill: white; }
  .product:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer; }
    .product:hover .product__details {
      background-color: #85bc45; }
    .product:hover .product__details-price {
      color: white; }

.deal {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: min-content min-content 30rem;
  grid-gap: 3rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-items: center; }
  @media only screen and (max-width: 56.25em) {
    .deal {
      grid-template-columns: repeat(6, minmax(min-content, 1fr)); } }
  @media only screen and (max-width: 37.5em) {
    .deal {
      grid-gap: 2rem; } }
  .deal__heading {
    font-size: 6rem;
    grid-column: 1 / -1; }
  @media only screen and (max-width: 56.25em) {
    .deal__info {
      grid-column: 5 / 7; } }
  @media only screen and (max-width: 37.5em) {
    .deal__info {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      text-align: center;
      margin-bottom: 2rem; } }
  .deal__info__heading {
    font-size: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .deal__info__heading {
        font-size: 3rem; } }
  .deal__info__price {
    font-size: 2rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3); }
    .deal__info__price span {
      margin-left: 1rem;
      font-size: 2.5rem;
      font-weight: 500;
      color: #85bc45; }
  .deal__info__description {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.6); }
    .deal__info__description-points li {
      margin-left: 2.5rem;
      list-style-position: inside; }
    .deal__info__description-points li:not(:last-child) {
      margin-bottom: 1rem; }
  .deal__img,
  .deal__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .deal__img--main {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    object-fit: contain; }
    @media only screen and (max-width: 56.25em) {
      .deal__img--main {
        grid-column: 1 / 5; } }
    @media only screen and (max-width: 37.5em) {
      .deal__img--main {
        grid-column: 1 / -1;
        grid-row: 3 / 4; } }
  .deal__img--1 {
    border-radius: .3rem;
    grid-column: 1 / 2; }
    @media only screen and (max-width: 56.25em) {
      .deal__img--1 {
        grid-column: 1 / 4; } }
    @media only screen and (max-width: 37.5em) {
      .deal__img--1 {
        display: none; } }
  .deal__img--2 {
    border-radius: .3rem;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 56.25em) {
      .deal__img--2 {
        display: none; } }
  .deal__img--3 {
    border-radius: .3rem;
    grid-column: 3 / 4; }
    @media only screen and (max-width: 56.25em) {
      .deal__img--3 {
        grid-column: 4 / 7; } }
    @media only screen and (max-width: 37.5em) {
      .deal__img--3 {
        display: none; } }

.review {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: min-content;
  grid-gap: 3rem;
  margin-bottom: 2rem;
  justify-items: center;
  align-items: center;
  padding: 5rem;
  border: 0.5rem solid white;
  background-image: url(../../images/bg-reviews.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (max-width: 56.25em) {
    .review {
      grid-template-columns: repeat(2, minmax(min-content, 1fr)); } }
  @media only screen and (max-width: 37.5em) {
    .review {
      grid-template-columns: minmax(min-content, 1fr); } }
  .review__heading {
    grid-column: 1 / -1;
    font-size: 6rem;
    text-align: center; }
  .review__customer {
    padding: 3rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .review__customer--1 {
      grid-column: 1 / 2; }
    .review__customer--2 {
      grid-column: 2 / 3; }
      @media only screen and (max-width: 56.25em) {
        .review__customer--2 {
          grid-column: 2 / -1; } }
      @media only screen and (max-width: 37.5em) {
        .review__customer--2 {
          grid-column: 1 / -1; } }
    .review__customer--3 {
      grid-column: 3 / 4; }
      @media only screen and (max-width: 56.25em) {
        .review__customer--3 {
          grid-column: 1 / -1; } }
    .review__customer__icon {
      display: block;
      margin: 0 auto;
      width: 3.5rem;
      height: 3.5rem;
      fill: white; }
      @media only screen and (max-width: 56.25em) {
        .review__customer__icon {
          width: 2.5rem;
          height: 2.5rem; } }
    .review__customer__name {
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 2rem; }
    .review__customer__text {
      font-size: 1.4rem;
      line-height: 1.6; }

.family {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: min-content;
  grid-gap: 2rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .family {
      grid-template-columns: repeat(2, minmax(min-content, 1fr)); } }
  @media only screen and (max-width: 37.5em) {
    .family {
      grid-template-columns: minmax(min-content, 1fr);
      grid-gap: 3rem;
      margin-bottom: 2rem; } }
  .family__heading {
    font-size: 6rem;
    grid-column: 1 / -1;
    margin-bottom: 2rem; }
  .family__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: .3rem; }
    .family__member--1 {
      grid-column: 1 / 2; }
    .family__member--2 {
      grid-column: 2 / 3;
      flex-direction: column-reverse;
      justify-content: space-between; }
      @media only screen and (max-width: 37.5em) {
        .family__member--2 {
          grid-column: 1 / -1;
          flex-direction: column; } }
    .family__member--3 {
      grid-column: 3 / 4; }
      @media only screen and (max-width: 56.25em) {
        .family__member--3 {
          grid-column: 1 / -1;
          width: calc(50% - 1rem);
          margin: 0 auto; } }
      @media only screen and (max-width: 37.5em) {
        .family__member--3 {
          width: auto; } }
  .family__profile {
    padding: 4rem; }
  .family__img-box {
    width: 100%; }
    .family__img-box--2 {
      bottom: 0; }
  .family__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .family__name {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem; }
  .family__position {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1.5rem;
    font-weight: 500; }
  .family__text {
    font-size: 1.8rem;
    margin-bottom: 1.5rem; }
  .family__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem; }
  .family__social-icon {
    width: 2rem;
    height: 2rem;
    fill: rgba(0, 0, 0, 0.3);
    margin-right: 1rem;
    margin-left: 1rem;
    transition: all .2s;
    cursor: pointer; }
    .family__social-icon:hover {
      transform: translateY(-0.3rem) scaleY(1.1); }
  .family__btn {
    width: 18rem; }
    .family__btn:hover {
      transform: none; }

.promo {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, 1fr));
  background-image: url(../../images/bg-promotion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem; }
  .promo__wrapper {
    grid-column: 2 / 4;
    text-align: center;
    padding: 5rem; }
  .promo__heading {
    font-size: 4.5rem; }
    .promo__heading--green {
      color: #44bd32; }
  .promo__offer {
    text-transform: uppercase;
    color: #cccccc; }
    .promo__offer p:nth-child(1) {
      font-size: 3rem; }
    .promo__offer p:nth-child(2) {
      font-size: 1.6rem;
      font-weight: 300; }
    .promo__offer p:nth-child(3) {
      font-size: 5rem;
      font-weight: 400;
      margin-bottom: 2rem; }
      .promo__offer p:nth-child(3) sup {
        font-size: 6rem;
        font-weight: 600;
        color: white; }

.blog {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content repeat(3, 20rem);
  margin-bottom: 10rem;
  row-gap: 2rem;
  column-gap: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .blog {
      grid-template-rows: min-content repeat(6, 15rem); } }
  .blog__heading {
    font-size: 6rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .blog__post {
    display: flex;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    padding: .5rem; }
    .blog__post--1 {
      grid-column: 1 / span 2;
      grid-row: 4 / 5;
      box-shadow: none; }
      @media only screen and (max-width: 56.25em) {
        .blog__post--1 {
          grid-column: 1 / -1;
          margin-bottom: 2rem; } }
    .blog__post--2 {
      grid-column: 3 / span 2;
      grid-row: 2 / 3; }
      @media only screen and (max-width: 56.25em) {
        .blog__post--2 {
          grid-column: 1 / -1;
          grid-row: 5 / 6; } }
    .blog__post--3 {
      grid-column: 3 / span 2;
      grid-row: 3 / 4; }
      @media only screen and (max-width: 56.25em) {
        .blog__post--3 {
          grid-column: 1 / -1;
          grid-row: 6 / 7; } }
    .blog__post--4 {
      grid-column: 3 / span 2;
      grid-row: 4 / 5; }
      @media only screen and (max-width: 56.25em) {
        .blog__post--4 {
          grid-column: 1 / -1;
          grid-row: 7 / 8; } }
  .blog__img-box {
    border-radius: .3rem;
    overflow: hidden;
    height: 100%; }
    .blog__img-box--1 {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
      width: 100%; }
      @media only screen and (max-width: 56.25em) {
        .blog__img-box--1 {
          grid-column: 1 / -1; } }
    .blog__img-box--small {
      width: 40rem;
      margin-right: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .blog__img-box--small {
          width: 35rem; } }
  .blog__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .blog__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .blog__title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1; }
    @media only screen and (max-width: 56.25em) {
      .blog__title {
        font-size: 2rem; } }
  .blog__time {
    font-size: 1.2rem; }
  .blog__text-preview {
    font-size: 1.6rem; }

.footer {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, minmax(min-content, 60rem)) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: min-content;
  background-color: #1a1a1a; }

.subcribe {
  grid-column: center-start / center-end;
  display: flex;
  align-items: center;
  margin-top: -6rem;
  margin-bottom: 10rem;
  padding: 3rem;
  background-color: #85bc45; }
  @media only screen and (max-width: 37.5em) {
    .subcribe {
      flex-direction: column; } }
  .subcribe__text {
    width: 50%;
    margin-right: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .subcribe__text {
        width: 90%;
        margin-right: 0;
        margin-bottom: 2rem; } }
    .subcribe__text > * {
      color: white; }
  .subcribe__form {
    width: 50%;
    margin-left: 1.5rem;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .subcribe__form {
        width: 90%;
        margin-left: 0; } }
    .subcribe__form__email {
      display: block;
      width: 100%;
      margin-right: 1rem;
      border: none;
      border-bottom: 1px solid white;
      outline: none;
      background-color: inherit;
      height: 4rem;
      font-size: 1.6rem;
      color: #f2f2f2; }
      .subcribe__form__email::placeholder {
        color: #e6e6e6; }
    .subcribe__form__btn {
      display: flex;
      align-items: center;
      font-size: 2.5rem; }
  .subcribe__heading {
    font-size: 2.4rem;
    text-transform: uppercase; }
  .subcribe__paragraph {
    font-size: 1.6rem; }

.footer__logo {
  font-size: 6rem;
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 5rem; }

.footer__contact {
  justify-self: center;
  grid-column: 2 / 3; }
  .footer__contact > * {
    color: #d9d9d9; }
  .footer__contact > :first-child {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .footer__contact > :not(:first-child) {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: .5rem; }

.footer__gallery {
  grid-column: 3 / 4;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: .5rem; }
  .footer__gallery__heading {
    grid-column: 1 / -1;
    font-size: 2.2rem;
    color: #d9d9d9;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 3rem; }
  .footer__gallery__img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: .3rem; }

.copyright {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 1.6rem;
  color: gray;
  margin-bottom: 1rem;
  margin-top: 10rem; }
