.contact {
      background-color: $black-100;


      // INFO
      &__info {

            &__heading-main {
                  font-size: 2.2rem;
                  color: $black-900;
                  font-weight: 500;
                  margin: 0 0 4rem;
            }

            &__item {
                  position: relative;
                  padding-left: 5.5rem;
                  margin-bottom: 3rem;
            }

            &__icon {
                  position: absolute;
                  width: 4rem;
                  height: 4rem;
                  top: 0;
                  left: 0;
                  border-radius: 50%;
                  font-size: 1.6rem;
                  color: $main-color;
                  border: 1px solid $main-color;
                  text-align: center;
                  line-height: 3.8rem;
            }
            &__heading-sub {
                  font-size: 1.8rem;
                  font-weight: 400;
                  color: $black-900;
                  margin: 0 0 1rem;
            }
            &__paragraph {
                  font-size: 1.6rem;
                  font-weight: 300;
                  margin: 0;
                  line-height: 2.6rem;
                  color:  $black-400;
            }
      }

      // FORM
      &__form {
            @include respond (md) {
                  margin-top: 2.5rem;
            }

            .form-group {
                  margin-bottom: 2.5rem;
            }

            .form-control {
                  height: 5.2rem;
                  border: 1px solid transparent;
                  box-shadow: $shadow-black-100;
                  border-radius: .5rem;
                  padding: o 2.4rem;
                  color: $black-900;
                  font-size: 1.6rem;
                  background-color: $black-000;
                  transition: all .5s ease;

                  &:focus {
                        border: 1px solid $main-color;
                  }
            }

            textarea.form-control {
                  height: 14rem;
                  padding-top: 1.2rem;
                  resize: none;
            }
      }
}
