.family {
      grid-column: center-start / center-end;

      display: grid;
      grid-template-columns: repeat(3, minmax(min-content, 1fr));
      grid-template-rows: min-content;

      grid-gap: 2rem;
      margin-bottom: 1rem;

      @include respond (tab-port) {
            grid-template-columns: repeat(2,minmax(min-content, 1fr));
      }
      @include respond (phone) {
            grid-template-columns: minmax(min-content, 1fr);
            grid-gap: 3rem;
            margin-bottom: 2rem;
      }

      &__heading {
            font-size: 6rem;
            grid-column: 1 / -1;
            margin-bottom: 2rem;
      }
      &__member {

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            overflow: hidden;
            box-shadow: 0 .5rem 1rem rgba($black, .3);
            border-radius: .3rem;

            &--1 {
                  grid-column: 1 / 2;
            }

            &--2 {
                  grid-column: 2 / 3;
                  flex-direction: column-reverse;
                  justify-content: space-between;

                  @include respond (phone) {
                        grid-column: 1 / -1;
                        flex-direction: column;
                  }
            }

            &--3 {
                  grid-column: 3 / 4;

                  @include respond (tab-port) {
                        grid-column: 1 / -1;
                        width: calc(50% - 1rem);
                        margin: 0 auto;
                  }

                  @include respond (phone) {
                        width: auto;
                  }
            }
      }

      &__profile {
            padding: 4rem;
      }

      &__img-box {
            width: 100%;
            &--2 {
                  bottom: 0;
            }
      }
      &__img {
            
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      &__name {
            font-size: 2.5rem;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
      }
      &__position {
            font-size: 2rem;
            color: rgba($black, .5);
            margin-bottom: 1.5rem;
            font-weight: 500;
      }
      &__text {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
            
      }

      &__socials {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2.5rem;
      }

      &__social-icon {
            width: 2rem;
            height: 2rem;
            fill: rgba($black, .3);
            margin-right: 1rem;
            margin-left: 1rem;
            transition: all .2s;
            cursor: pointer;

            &:hover {
                  transform: translateY(-.3rem) scaleY(1.1);
            }
      }

      &__btn {
            width: 18rem;
            &:hover{
                  transform: none;
            }
            
      }
}
