.header {
    grid-column: full-start / full-end;

    background-image: linear-gradient(to top, rgba($black, 0) 0%, rgba($black, .5) 45%, rgba($black, 0)100%), url(../images/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;

    padding: 5rem;

    @include respond (phone) {
        padding: 3rem;
    }

    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-template-rows: min-content 1fr minmax(6rem, min-content) 1fr;

    &__logo {
        font-size: 5rem;
        grid-column: 1 / span 1;
        justify-self: flex-start;
    }
    &__heading-main {
        font-size: 10rem;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: flex-end;
    }
    &__heading-secondary {
        letter-spacing: .5rem;
        text-transform: uppercase;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
    }
    &__btn {
        margin: 0.7rem;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: flex-start;
    }
}