.header {
    

    .material-icons {
        display: none;
        font-size: 4rem;
        color: $white;

        @include respond (phone) {
              display: initial;
              position: absolute;
              cursor: pointer;
        }
    }
    &__menu {
        right: 0;
        margin-right: 3rem;
    }

    &__nav {
        grid-column: 2 / span 1;
        justify-self: flex-end;
        align-self: center;

        @include respond (phone) {
            transition: all .5s ease;
            background-color: $color-green-2;
            /* backdrop-filter: blur(1rem); */

            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
            width: 80%;
            height: 100vh;
            transform: translateX(100%);
    
            &__button-close {
                  margin: 3rem;
                  right: 0;
            }
        }
        
        &-items {
            display: flex;
            

            @include respond(phone) {
                flex-direction: column;

                align-items: center;
                justify-content: center;

                height: 100%;

                & > :not(:last-child) {
                    margin-bottom: 6rem;
                }
            }
        }
        &-links {
            margin-left: 4rem;
            list-style: none;

            @include respond(phone) {
                margin-left: 0;
            }
        }
        &-link:link,
        &-link:visited {
            text-decoration: none;
            font-size: 1.5rem;
            color: $white;
            font-family: $font-secondary;
            transition: all .5;

            @include respond(phone) {
                font-size: 3rem;
                font-weight: 500;
                color: $white;
            }

            &:hover,
            &:active {
                color: $color-green-1;
            }
        }
    }
    .active {
        color: $color-green-1;

        @include respond(phone) {
            color: $white;
        }
    }
}

.show {
    right: 0;
    transform: translateX(0);
}
